.containerReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  padding: var(--padding-xs);
}

.dark .containerReview {
  background-color: var(--color-700);
}

