.containerHero {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 70vh;
  margin: 4rem 0 0 0;
  background-image: url("/cat-yellow-eyes.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20%) center;
  background-size: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  background-color: var(--color-100);
  transition: background-image 0.5s ease, background-size 0.5s ease;
}

.dark .containerHero {
  background-image: url("/cat-calico.jpg");
  background-size: 100%;
}

@media screen and (max-width: 740px) {
  .containerHero {
    padding: var(--padding-s);
    background-image: none;
  }

  .dark .containerHero {
    background-image: none;
    background-color: var(--color-700);
  }
}