.containerInfo {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-xxs);
}

.containerTitle {
  border: 5px solid var(--color-400);
  border-radius: var(--border-radius);
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xs);
  background-image: url("/toys-header.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--color-100);
}

.dark .containerTitle {
    background-color: var(--color-600);
}

.containerTitle img {
  width: 1rem;
}

.contentCollapse {
  display: none;
}

.showContent {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  padding-top: var(--padding-xs);
}

.showContent li {
  border-left: 3px solid var(--color-300);
  padding-left: var(--padding-xxs);
}

.collapseButton {
  padding: var(--padding-xxs);
  border-radius: var(--border-radius-all);
  background-color: var(--color-400);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: filter 0.5s ease-in-out;
}

.collapseButton:hover {
  filter: invert();
}

.collapseButton > img {
  filter: invert();
  transition: rotate 0.5s ease-in-out;
}

.rotateImg {
  rotate: 180deg;
}
