@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  /* FONTS */
  --title-font: "Protest Riot", sans-serif;
  --text-font: "Quicksand", sans-serif;

  /* COLORS */
  --color-000: #ffffff;
  --color-100: #7fbde7;
  --color-200: #ff9921;
  --color-300: #fa5800;
  --color-400: #3a424c;
  --color-500: #000000;
  --color-600: #dba777;
  --color-700: #46535f;

  --background-light: whitesmoke;
  --background-dark: var(--color-400);

  /* BORDERS */
  --border-radius: 20px;
  --border-radius-all: 100%;

  /* PADDINGS */
  --padding-xxs: 10px;
  --padding-xs: 1rem;
  --padding-s: 2rem;
  --padding-m: 3rem;
  --padding-l: 4rem;
  --padding-xl: 5rem;

  --margin-xs: 10px;
  --margin-s: 15px;
  --margin-m: 20px;
  --margin-l: 25px;
  --margin-xl: 30px;

  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 15px;
  --gap-m: 20px;
  --gap-l: 1rem;
  --gap-xl: 30px;

  /* SIDE LOGO */
  --side-xxs: 1.5rem;
  --side-xs: 5rem;
  --side-s: 10rem;
  --side-m: 12rem;
  --side-l: 18rem;
  --side-xl: 30rem;
}

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  animation: fadeInZoom 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.2s ease;
}

a {
  font-weight: 900;
  text-decoration: inherit;
  transition: color 0.5s ease;
  background: transparent;
  font-size: 1.1rem;
  color: var(--color-500);
  transition: scale 0.5s ease;
}

a:hover {
  color: var(--color-100);
  scale: 1.15;
}

h2 {
  font-family: var(--title-font);
  font-size: 3.5rem;
  text-align: center;
}

h4 {
  font-family: var(--title-font);
  letter-spacing: 1.5px;
}

h5 {
  font-size: 1.4rem;
  font-weight: 900;
}

li {
  list-style: none;
  display: flex;
  gap: var(--gap-xs);
}

header {
  width: 100%;
  animation: fadeInZoom 0.5s ease-in-out;
}

main {
  min-height: 70vh;
  height: 100%;
}

footer {
  height: 10vh;
  width: 100%;
}

.dark main {
  background-color: var(--background-dark);
  color: var(--color-000);
}

.dark a {
  color: var(--color-000);
  -webkit-text-stroke: 0.2px var(--color-100);
}

.dark a:hover {
  color: var(--color-100);
}

.dark h2 {
  color: var(--color-100);
  font-weight: lighter;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 911px) {
  h2 {
    font-size: 2.5rem;
  }
}
